/** DESKTOP **/
body{
	margin: 0px;
	background-color: rgb(241, 241, 241);
}
h1{
	text-align: center;
}
h3 {
	margin: 10px 0px;
}
#hcenter{
	padding-left: 10%;
	padding-right: 10%;
}
#center{
	padding-left: 30%;
}
#foto{
	padding-left: 30px;
}
#container{
	width: 60vw;
	margin: auto;
	margin-top: 10px;
	box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.31);
	background-color: white;
	margin-bottom: 200px;
	min-width: 288px;
	padding-top: 0px;
	background: linear-gradient(to bottom, #a6fcc8 1%, #b5ebfc 100%);
	overflow: hidden;
}
#background{
	width: 90%;
	height: 40vw;
	margin: auto;
	overflow: hidden;
	background: url("./images/glass2.jpg");
	background-position: center;
	background-size: 120%;
	background-repeat: no-repeat;
}
#banner{
	width: 100%;
}
p{
	text-align: left;

}
ul {
	list-style-type: none;
	margin: auto;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: #D3D3D3;
	position: relative;
	top: -4px;
}

li {
	float: left;
	width: 16.66%;
	overflow: hidden;
}	
li a {
	display: block;
	color: #2E8B57;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration: none;
	overflow: hidden;
	transition: background-color 0.5s;
	position: relative;
}
.buttonEffect {
	background-color: darkgreen;
	width: 100%;
	height: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
li a:hover {
	background-color: #8FBC8F;
	transition: background-color 0.5s;
}
label{
	position: relative;
	left: -130px;
}
select {
	width: 20%;
	padding: 10px 100px;
	border-color: black;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	margin-left: 300px;
	padding-right: 10px;
	box-sizing: border-box;
}
.inputs{
	width: 220px;
	padding: 10px 20px;
	border-color: black;
	border-radius: 5px;
	background-color: white;
	margin-left: 0%;
	text-align: center;
	transform: translateX(-50%);
}
.checkText {
	position: relative;
	left: -130px;
}
.check {
	position: relative;
	left: -130px;
}
input[type=submit]{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin-bottom: 30px;
	margin-left: 0%;
	cursor: pointer;
	transform: translateX(-50%);
}
footer {
	background-color: rgb(210, 210, 210);
	width: 100%;
	height: 80px;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	position: fixed;
	bottom: 0px;
	
}
#Footer {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #004d2e;
}
/** MOBILE BAR **/
#bar {
	background-color: gray;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
}
#button {
	background-color: #7FFFD4;
	width: 50px;
	height: 50px;
	position: fixed;
	top: 0px;
	right: 0px;
}
#list {
	position: relative;
	top: 50px;
}
#list, #listContainer {
	width: 100%;
	height: 250px;
}
#listContainer {
	overflow: scroll;
	width: 100%;
	height: 0px;
}
#mobileBar {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: linear-gradient(to bottom, #a6fcc8 1%,#b5ebfc 100%);
	box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.31);
}
.page {
	box-sizing: border-box;
	position: relative;
	vertical-align: middle;
	padding-top: 15px;
	padding-right: 10px;
	text-align: right;
	top: -50px;
	height: 50px;
	width: 100%;
	transform: translateY(50px);
	background: none;
}
form {
	position: relative;
	left: 50%;
}
/** TABLET **/
@media screen and (max-device-width: 1366px) {
	#mobileBar {
		display: initial;
	}
	ul {
		display: none;
	}
	#container {
		width: 70vw;
		padding-top: 50px;
	}
	#hcenter{
		padding-left: 15%;
		padding-right: 15%;
	}
	#center{
		padding-left: 15%;
	}
	#foto{
		padding-left: 15%;
		width: 70%;
	}
}
/** MOBILE **/
@media screen and (max-device-width: 812px) {
	#container {
		width: 95vw;
		padding-top: 50px;
	}
	#hcenter{
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
	#center{
		padding-left: 2.5%;
	}
	#foto{
		padding-left: 2.5%;
		width: 95%;
	}
}